
<div class="col-sm-4 boxwidth" style="cursor:pointer">
    <div class="boxxwidthss list-group-item">
        <a href="~/Customer/BookPuja/Index">
            <div class="boxone">
                <p class="iconheading">Book Pooja</p>
                <div class="onebox fulltext">
                    <i class="workimage"><img src="~/Content/images/icons/bookpooja.png"></i>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-sm-4 boxwidth" style="cursor:pointer">
    <div class="boxxwidthss list-group-item">
        <a href="~/Customer/BookPurohit/Index">
            <div class="boxone">
                <p class="iconheading">Book Purohit</p>
                <div class="onebox fulltext">
                    <i class="workimage">
                        <img src="~/Content/images/icons/Pandit.png">
                    </i>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-sm-4 boxwidth" style="cursor:pointer">
    <div class="boxxwidthss list-group-item">
        <a href="">
            <div class="boxone">
                <p class="iconheading">Shopping Cart</p>
                <div class="onebox fulltext">
                    <i class="workimage">
                        <img src="~/Content/images/icons/shopping-cart.png">
                    </i>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-sm-4 boxwidth" style="cursor:pointer">
    <div class="boxxwidthss list-group-item">
        <a href="~/Customer/BookAstrologer/Index">
            <div class="boxone">
                <p class="iconheading">Book Astrologer</p>
                <div class="onebox fulltext">
                    <i class="workimage">
                        <img src="~/Content/images/icons/astrolger.png">
                    </i>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-sm-4 boxwidth" style="cursor:pointer">
    <div class="boxxwidthss list-group-item">
        <a href="~/Customer/BookEPuja/Index">
            <div class="boxone">
                <p class="iconheading">Book E-Puja</p>
                <div class="onebox fulltext">
                    <i class="workimage">
                        <img src="~/Content/images/icons/E-puja.png">
                    </i>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-sm-4 boxwidth" style="cursor:pointer">
    <div class="boxxwidthss list-group-item">
        <a href="~/Customer/BookPujaPackages/Index">
            <div class="boxone">
                <p class="iconheading">Book Puja Packages</p>
                <div class="onebox fulltext">
                    <i class="workimage">
                        <img src="~/Content/images/icons/pooja.png">
                    </i>
                </div>
            </div>
        </a>
    </div>
</div>