<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)"
             size="medium"
             color="#fff"
             type="ball-scale-multiple"
             [fullScreen]="true">
  <p style="font-size: 20px; color: white" >Please Wait...</p>
</ngx-spinner>

<app-header></app-header>
<app-side-nav></app-side-nav>
<div class="app-container">
    <div class="app-main">
        <div class="rcs_main">
            <h2 class="rcs_main--title">National Cooperative Database</h2>
        </div>
        <div class="rcs_card">
            <div class="rcs_card_header rcs_card_header--bg">
                <div class="rcs_card_header--title">
                    All Registered Primary Cooperative Societies
                  </div>  
            </div>
            <div class="rcs_card_body">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">Form Status</label>
                            <div class="label_info">
                                Submitted
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">Approval Status</label>
                            <div class="label_info">
                                Accepted
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">Remarks</label>
                            <div class="label_info">
                                Approve
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(a). Cooperative Society Name</label>
                            <div class="label_info">
                                The Jai Dada Bhagwan Cooperative Labour and
                                Cooperative Society ltd Chhara
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <div class="rcs_card">
            <div class="rcs_card_header rcs_card_header--bg">
                <div class="rcs_card_header--title">
                    Location Details of Registration Office
                  </div>  
            </div>
            <div class="rcs_card_body">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">Form Status</label>
                            <div class="label_info">
                                Submitted
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">Approval Status</label>
                            <div class="label_info">
                                Accepted
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">Remarks</label>
                            <div class="label_info">
                                Approve
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(a). Cooperative Society Name</label>
                            <div class="label_info">
                                The Jai Dada Bhagwan Cooperative Labour and
                                Cooperative Society ltd Chhara
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <div class="rcs_card">
            <div class="rcs_card_header rcs_card_header--bg">
                <div class="rcs_card_header--title">
                    All Registered Primary Cooperative Societies
                  </div>  
            </div>
            <div class="rcs_card_body">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">Form Status</label>
                            <div class="label_info">
                                Submitted
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">Approval Status</label>
                            <div class="label_info">
                                Accepted
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">Remarks</label>
                            <div class="label_info">
                                Approve
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(a). Cooperative Society Name</label>
                            <div class="label_info">
                                The Jai Dada Bhagwan Cooperative Labour and
                                Cooperative Society ltd Chhara
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="space-bottom">
                            <label class="label_text">1(b).Registration Authority</label>
                            <div class="label_info">
                                Registrar Cooperative Society
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>    
    </div>
</div>        
