<app-header></app-header>
<app-side-nav></app-side-nav>
<div class="app-container"> 
    <div class="app-main">
        <div class="d-flex justify-content-between">
            <h3 class="dashboard-title">Request List for Amendment Bye-Laws</h3>
        </div>
        <div class="tab-form"> 
            <div class="tab-body"> 
                <div>
                    <h5 class="table_bordered--title">GBM Details</h5>
                    <div class="table-responsive">
                        <table class="table table_bordered">
                            <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Socity</th>
                                    <th>Date of Notice for GBM</th>
                                    <th>Date of GBM for Amendment</th>
                                    <th>No. of Days of Notice for GBM</th>
                                    <th>Total No. Members of MSCS</th>
                                    <th>Quorum Required for Meeting</th>
                                    <th>No. of Members Present in the Meeting</th>
                                    <th>View Amendment</th>
                                    <th>View Document</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- tab-body -->
                </div>
            </div> <!-- tab-body --> 
        </div> <!-- app-container -->
    </div>
</div>
