$black-color: #000;
$white-color: #fff;
$primary-color: #0ECA98;
$card-title-color: #2c2c2c;
$label-color: #978888;
$download_bgcolor: #F5F9FF;
$delete-text-color: #ff0000;
$error-color: #ff0000;
// table 
$border-radius: 5px; 
$border-color: #E6E6E6;
$border-radius: 0.375rem;
$table-head-color: #F0F4F9;
$table-display-text: #888;

// space 
$default-space: 16px; 

//button color 
$reset-color: #F0AD4E; 
$cancel-color: #E5E5E5;
$export-color: #0D99FF;

// modal btn color
$modal-btn-color: #4087C4; 

